.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.cproduct_info{
    padding-left: 20px;
}

.cproduct_info > button{
    background: rgb(191, 156, 0);
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(134, 134, 70);
    color: black;
}

.checkoutp_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.cp_rating{
    display: flex;
    color: rgb(240, 120, 0);
}

.cp_title{
    font-size: 17px;
    font-weight: 800;
}

